[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
    position: relative;
    z-index: 2;
    top: 2px;
    margin: 0;
    margin-top: 4px;
    padding: 3px 3px 4px;
    border: 1px solid #B7B7B8FF;
    border-bottom: 2px solid #B7B7B8FF;
    border-radius: 5px 5px 0 0;
    background: #EDEFF3FF;
    outline: none;
    font-weight: bold;
}

[role="tab"][aria-selected="true"] {
    padding: 2px 2px 4px;
    margin-top: 0;
    border-width: 2px;
    border-bottom-color: #FBFCFEFF;
    background: #FBFCFEFF;
}

[role="tab"][aria-selected="false"] {
    border-bottom: 1px solid #B7B7B8FF;
}

[role="tab"] span.tab {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
    font-size: 18px;
}

[role="tab"]:hover span.tab {
    cursor: pointer;
}

[role="tab"]:focus,
[role="tab"]:active span.tab {
    padding: 2px 4px;
    border: 2px solid #2474D6FF;
    border-radius: 3px;
}

@media screen and (min-width: 768px) {
    [role="tab"] span.tab {
        font-size: 16px;
    }
}