.skipLink {
  position: absolute;
  left: -9999px;
  background: #fff;
  padding: 5px 10px;
  z-index: 9999;
}

.skipLink:focus {
  outline: none;
  color: black;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightgray;
  left: 50%;
}

#maincontent {
  height: 0;
  width: 0;
  padding: 0;
  border: 0;
}

a:focus {
  border: 1px solid black;
}